<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>즐겨찾기 추가하기</h1>
		<label for="name">제목</label>
		<input type="text" id="name" class="form-control mb-2">
		<label for="url">주소</label>
		<div class="d-flex mb-2">
			<input type="text" id="url" class="form-control col-11">
			<button type="button" id="urlCheckBtn" class="btn btn-info ml-1">중복확인</button>
		</div>
		<small id="urlStatusArea" class="notChecked"></small>
		<button type="button" id="bookMarkBtn" class="btn btn-success btn-block mt-2">추가</button>
	</div>
	
	<script>
		$(document).ready(function() {
			$('#urlCheckBtn').on('click', function() {
				$('#urlStatusArea').removeClass('notChecked');
				$('#urlStatusArea').empty();
				let url = $('#url').val().trim();
				if(!url) {
					$('#urlStatusArea').append('<span class="text-danger">주소가 비어있습니다.</span>');
					return false;
				}
				if(!url.startsWith('http') && !url.startsWith('https')){
					$('#urlStatusArea').append('<span class="text-danger">주소는 http나 https로 시작해야합니다.</span>');
					return false;
				}
				
				$.ajax({
					type:'GET' // GET이면 생략 가능, 조회
					, url:"/lesson06/quiz01/is-duplicated-url"
					, data:{
						"url":url
					}
					, success:function(data) { // String -> JSON parsing -> dictionary
						// {"code":200, "is_duplicated_url":true}
						if(data.code == 200) {
							if(data.is_duplicated_url == true) {
								$('#urlStatusArea').append('<span class="text-danger">중복된 url 입니다</span>');
							} else {
								$('#urlStatusArea').append('<span class="text-primary">저장 가능한 url 입니다.</span>');
							}
						} else {
							alert('오류가 발생하였습니다.');
						}
					}
					, error:function(e) {
						alert('url 중복 확인에 실패했습니다.');
					}
				});
			});
			
			$('#bookMarkBtn').on('click', function() {
				let name = $('#name').val();
				if(!name) {
					alert('제목을 입력하세요!');
					return;
				}
				let url = $('#url').val();
				if(!url) {
					alert('주소를 입력하세요!');
					return;
				}
				if(!url.startsWith('http') && !url.startsWith('https')){
					alert('주소는 http나 https로 시작해야합니다!');
					return;
				}
				if($('#urlStatusArea').hasClass('notChecked')) {
					alert("중복 확인을 진행하세요!");
					return;
				}
				
				console.log(name);
				console.log(url);
				
				$.ajax({
					type:'POST'
					, url:'/lesson06/quiz01/add-bookmark'
					, data:{
						'name':name
						, 'url':url
					}
					, success:function(data) {
						if (data.code == 200) {
							alert('등록 완료!');
							location.href = '/lesson06/quiz01/bookmark-view';
						} else {
							alert('등록에 실패하였습니다');
						}
					}
					, error:function(e) {
						alert('등록 실패');
					}
				});
			});
		});
	</script>
</body>
</html>